# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Documentación interna y archivos auxiliares
docs/
*.pdf
!informe.pdf
*.md
!README.md

# Sistema operativo
.DS_Store
Thumbs.db
